[submodule "dsc-mod-2-project-v2-1-onl01-dtsc-ft-030220"]
	path = dsc-mod-2-project-v2-1-onl01-dtsc-ft-030220
	url = https://github.com/EricaSG/dsc-mod-2-project-v2-1-onl01-dtsc-ft-030220.git
[submodule "dsc-mod-2-project-v2-1-onl01-dtsc-ft-0"]
	path = dsc-mod-2-project-v2-1-onl01-dtsc-ft-0
	url = https://github.com/EricaSG/dsc-mod-2-project-v2-1-onl01-dtsc-ft-041320.git
